*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'mywebfont';
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}

body{
    font-family: 'mywebfont', 'Courier New', Courier, monospace;
    min-width: 100%;
    min-height: 100vh;
}
.container-besar{
    display: flex;
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-size: contain;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #F9EEFF;
    margin: auto;
    align-items: center;
    justify-content: center;

}
.container-isi{
    display: flex;
    width: 50%;
    min-height: 50vh;
    background-color: white;
    border: #F9EEFF;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    padding: 50px;
    

}

.container-isi .title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: baseline;
    align-items: baseline;
}



.container-isi .title h1{
    font-size: 60px;
}

.faq-icon{
    display: inline-block;
    transform-style: preserve-3d;
    transition: transform 0.6s;

}


.tanda-plus{
    transform: rotateY(0deg);
}
.tanda-min{
    transform: rotateY(180deg);
}

.faq-item{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}


label{
    font-weight: 600;
    
}


.faq-toggle{
    display: none;
}

.faq-answer{
    display: none;
    padding: 10px;
    font-weight: 300;
}

.faq-question{
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: space-between;
}

.faq-toggle:checked  .faq-icon {
    transform: rotateY(180deg);
}

.faq-toggle:checked + .faq-question + .faq-answer{
    display: block;
}